/*Hide Menu Button on LargeScreen*/
@media screen and (max-height:450px){
    #navigator {padding-top: 3.5em;}
    #navigator a {font-size: 18px;}
}
@media screen and (min-width:768px){
    .sidemenu-toggle {display:none;}
}
#navigator{
    display:block;
    margin-top:3.5em;
    margin-right:3.5em;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #000;
    color:#fff;
    font-size:medium;
    will-change: transition;
    transition: 0.3s;
    padding-top: 4em; 
    overflow-y: auto;
}

#navigator a {
    margin-top:0.4em;
    padding: 0.6em 0.6em 0.6em 1.8em; /*Default: 8px 8px 8px 32px*/
    text-decoration: none;
    font-size:0.88em;
    color: #919191; 
    display: block;
    will-change:transition;
    transition: .3s;    
}

#navigator a:hover, .offcanvas a:focus{
    color: #fff;
}

.sidemenu-toggle{
    color: #fff;
    border-radius:4px;
    margin-right: 6px;
    cursor:pointer;
}
.sidemenu-toggle:active{
    color:transparent;
}

#navigator ul li{
    list-style:none;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 7%;
    font-size: 20px;
    margin-left: 50em;
}

