@font-face {
    font-family: ThaiSansNeue-Bold;
    src: url('../fonts/ThaiSansNeue-Bold.ttf') format('truetype');
    /*font-family: ThaiSansNeue-Regular;
	src: url('../fonts/ThaiSansNeue-Regular.ttf') format('truetype');*/
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body h2{
    font-family: ThaiSansNeue-Bold, Arial, sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body .sortLink { 
    color:#000000;
    text-decoration:none;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 20em;
}

table{
    margin-bottom:0.77em;
}
/*table th{
    text-align:center;
}*/
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
