@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Scripts/SearchBossBtn.js"></script>
}
<br />
<div class="ui-widget">
    @Html.Label("Test AutocompleteBox", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.TextBox("InputBossID")
    @Html.TextBox("HiddenBossID")
    <button type="button" id="SearchBtn" class="btn btn-primary">Search</button>
</div>